/**
 * Place your custom CSS styles here.
 **/
 .aeroleads_action{
 	position: absolute;
 	left: -70px;
 }

 .aeroleads_action input{
 	padding: 2px 6px;
 	display: inline-block;
 }
 span.aeroleads_btn, span.saved_data {
 	display: inline-block;
 	color: #fff;
 	padding: 2px 6px;
 	background: #d50000;
 	border-radius: 4px;
 	cursor: pointer;
 }

 span.saved_data{
 	background: #eaeaea;
 	color: #222;
 }

 .aeroleads_add_selected{
 	position: fixed;
 	bottom: 5%;
 	right: 5%;
 	z-index: 7220;
 	height: 150px;
 	background: #fff;
 	width: 250px;
 	-webkit-box-shadow: 0px 2px 15px -2px #ccc;
 	-moz-box-shadow: 0px 2px 15px -2px #ccc;
 	box-shadow: 0px 2px 15px -2px #ccc;
 }

 .aeroleads_add_selected header{
 	padding: 5px 10px;
 	border-bottom: 1px solid #eaeaea;
 }

 .aeroleads_add_selected header .img-responsive{
 	display: inline-block;
 	width: 20px;
 	height: auto;
 	vertical-align: middle;
 	margin-right: 15px;
 }

 .aeroleads_add_selected header .logo, .aeroleads_add_selected header .brand{
 	display: inline-block;
 	vertical-align: middle;
 	font-size: 20px;
 }

 .content{
 	margin: 20px 15px;
 	color: #444;
 	font-size: 15px;
 }
 .add_selected{
 	margin: 20px 15px;
 	display: block;
 	padding: 10px 20px;
 	color: #fff;
 	text-align: center;
 	border-radius: 6px;
 	cursor: pointer;
 	background: #ff3019; /* Old browsers */
 	background: -moz-linear-gradient(-45deg,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(-45deg,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(-45deg,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(-45deg,  #ff3019 0%,#cf0404 100%); /* IE10+ */
 	background: linear-gradient(135deg,  #ff3019 0%,#cf0404 100%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }

 .add_selected:hover{
 	background: #f85032; /* Old browsers */
 	background: -moz-linear-gradient(45deg,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
 	background: linear-gradient(45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 }


 .api_error{
 	position: fixed;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	/*display: none;*/
 }
 .api_error_bg{
 	position: fixed;
 	z-index: 1002;
 	background: rgba(0,0,0,0.3);
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 }
 .api_dialog{
 	position: relative;
 	z-index: 1003;
 	background: #fff;
 	border: 1px solid #eaeaea;
 	border-radius: 4px;
 	height: 200px;
 	width: 250px;
 	margin: 25% auto;
 }
 .api_dialog h1{
 	padding: 10px 15px;
 	font-size: 16px;
 	color: #444;
 	background: #eaeaea;
 }
 .api_dialog .api_message{
 	display: block;
 	padding: 10px 15px;
 	color: #555;
 }
 .close_bg_btn{
 	background: #eaeaea;
 	color: #444;
 	padding: 10px;
 	cursor: pointer;
 	margin-bottom: -15px;
 }


.al_modal{
	display: none;
}
.close_al_modal{
	position: fixed;
	z-index: 1947;
	background: rgba(0,0,0,0.7);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.content_al_modal{
	position: fixed;
	z-index: 1950;
	background: #fff;
	padding: 15px 10px;
	height: 80px;
	width: 320px;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -175px;
	border-radius: 4px;
	display: inline-block;
}
.al_modal h3{
	border-bottom: 1px solid #eaeaea;
	padding: 10px 0;
	margin-bottom: 10px;
}
.modal_icon{
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-top: -10px;
	margin-bottom: -10px;
	vertical-align: middle;
	margin-right: 10px;
}
.al_modal b{
	font-size: 13px;
	font-weight: bold;
}